<div class="social-post">
  <header>
    <img src="avatar.png" alt="generic avatar icon" width="30" height="30"/>
    <span>@PostedBy</span>
    <span>@PostedAt</span>
  </header>
  <div class="post-body">
    Placeholder text - replace this :)
  </div>
</div>

@code {
  
  [Parameter]
  public string PostedBy { get; set; }
  
  [Parameter]
  public DateTime PostedAt { get; set; }
  
  // just need a generic image to have something show up!
  string avatarUrl = "https://cloud.squidex.io/api/assets/practicalblazorcomponents-dev/7120e294-ece0-4763-8b3c-df39bb007b0f/avatar.png";

}