button {
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 0.5em;
    background-color: #f5f5f5;  
}

section {
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 1em;   
    background-color: #ecf1ff;
    margin-bottom: 1em;
    font-size: 1.4em;
}