@page "/AdvancedPanels"

<div class="cols-4">
    <div class="row">
        <div class="col">
            <Panel Title="An Important Panel" Important="true">
                <p>This is some content</p>
            </Panel>
        </div>
        <div class="col">
            <Panel Title="A Panel" Important="false">
                <p>This is boring panel</p>
            </Panel>
        </div>
        <div class="col">
            <Panel Title="Another One?" Important="false">
                <p>I mean how many panels are enough?</p>
            </Panel>
        </div>
    </div>
</div>


@code {

}