@page "/ExtendToModify"

<div class="cols-4">
    <div class="row">
        <div class="col">
            <Panel Title="A Panel">
                <p>This is some content</p>
            </Panel>
        </div>
        <div class="col">
            <ImportantPanel Title="An Important Panel">
                <p>This is boring panel</p>
            </ImportantPanel>
        </div>
        <div class="col">
            <Panel Title="Another One?">
                <p>I mean how many panels are enough?</p>
            </Panel>
        </div>
    </div>
</div>


@code {

}