@using Courses.Demo.Shared

<div class="card" style="@FeaturedStyle(Product)">
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <p>@Product.Description</p>
        <p>£@Product.Price</p>
        <p>
            <a href="details">View</a>
        </p>
    </div>
</div>

@code {

    [Parameter]
    public Product Product { get; set; }

    string FeaturedStyle(Product product) 
        => product.Featured ? "border: 3px solid #3e6dbf" : "";

}