@using Courses.Demo.Shared.Contracts
@inject IPurchaseOrderAPI PurchaseOrderApi

@page "/purchase-orders"

@if (poList != null)
{
    <ul>
        @foreach (var po in poList)
        {
            <li>
                <a href="/PO/@po.Id">View Purchase Order Details (Before/Not Working)</a>
            </li>
            <li>
                <a href="/PO/v2/@po.Id">View Purchase Order Details (After)</a>
            </li>
        }
    </ul>
}

@code {

    private IEnumerable<PurchaseOrder> poList;

    protected override async Task OnInitializedAsync()
    {
        poList = await PurchaseOrderApi.List();
    }

}