@page "/social"

<main style="width: 20em;">
    <SocialPost PostedBy="Alice Smith" PostedAt="DateTime.Now">
        <p>Hello, it's a beautiful day</p>
        <img class="w-100" src="https://bit.ly/3J74ZM6" />
    </SocialPost>
</main>

@code {
}