<div class="border border-2 @visibility">
    <div class="p-4 d-flex justify-content-between @TitleClass() text-white">
        <h4 class="mb-0">@Title</h4>
        @if (Type != PanelType.Important)
        {
            <button class="btn-close" @onclick="()=>dismissed = true"></button>
        }
    </div>
    <div class="p-4 fs-6">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public PanelType Type { get; set; }

    private bool dismissed = false;

    private string visibility => dismissed ? "d-none" : "d-block";
    
    string TitleClass()
    {
        switch (Type)
        {
            case PanelType.Default:
                return "bg-primary";
            case PanelType.Important:
                return "bg-danger";
            case PanelType.Inactive:
                return "bg-secondary";
        }
        return "bg-primary";
    }
    
    public enum PanelType
    {
        Important = 1,
        Inactive = 2,
        Default = 3
    }

    private void Dismiss()
    {
        if (Type != PanelType.Important)
        {
            dismissed = true;
        }
    }

}