@page "/Products/V3"
@using Courses.Demo.Shared
@using Courses.Demo.Shared.Contracts

@inject IProductApi ProductApi

@if (products != null)
{
    <h2>Products</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach (var product in products)
        {
            <div class="col">
                <ProductCard Product="@product" />
            </div>
        }
    </div>
}

@code {

    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductApi.List();
    }

}