<button @onclick="@(()=>_isCustomer = !_isCustomer)">Toggle View</button>

@if (_isCustomer)
{
    <section>
        <aside class="customer">
            You have access to this course, click here to view it.
        </aside>
    </section>
}
else
{
    <section>
        <aside class="non-customer">
            Buy this course now, for just $39.99!
        </aside>
    </section>
}

@code {
    
    bool _isCustomer = false;
    
}