button {
    margin-bottom: 1em;
    background-color: #d4f8cc;
    border: 2px solid #a4a4a4;
    padding: 0.4em;
    border-radius: 0.4em;
}

aside {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

aside.customer {
    background-color: #cce0ff;
}

aside.non-customer {
    background-color: #ffcccc;
}