@inject NavigationManager NavigationManager

<header class="navbar navbar-expand bg-light border-bottom">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Practical Blazor Components - Examples and Exercises</a>
        <section class="d-flex flex-row gap-4 align-items-center">
            <span>Hosting Mode: @(RendererInfo.Name)</span>
            <button @onclick="ToggleWASM">@HostingSwitchText</button>
        </section>
    </div>

</header>

@code {

    bool Wasm => RendererInfo.Name == "WebAssembly";
    string HostingSwitchText => Wasm ? "Use Server" : "Use WASM";

    Task ToggleWASM()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri)
        {
            Query = Wasm ? string.Empty : "wasm"
        };
     
        NavigationManager.NavigateTo(uriBuilder.ToString(), new NavigationOptions { ForceLoad = true });
        return Task.CompletedTask;
    }

}