section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

::deep .news-card {
    box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
}

::deep h4 {
    font-size: 1.2em;
    font-weight: 600;
    color: #3a3a3a;
}

::deep h5 {
    font-size: 1.1em;
}

::deep span {
    font-size: 0.9em;
    color: #666;
    padding: 0.4em;
    background-color: #ececff;
}