@page "/exercises/githubnews"

<section class="container">

    <p>For you (beta)</p>

    <h4>Trending Repositories</h4>

    <section>
        <Card User="jonhilton"
              Repository="practicalBlazorComponents"
              Description="A new online, interactive workshop!"
              Languages="@(new List<string> { "C#", "JavaScript" })"/>

        <Card User="AdrienTorris"
              Repository="awesome-blazor"
              Description="Resources for Blazor, a .NET web framework using
                                                   C#/Razor and HTML that runs in the browser with WebAssembly."
              Languages="@(new List<string> { "C#" })"/>

        <Card User="microsoft"
              Repository="dotnet"
              Description="This repo is the official home of .NET on GitHub.
                                                   It's a great starting point to find many .NET OSS projects from Microsoft
                                                   and the community, including many that are part of the .NET Foundation."
              Languages="@(new List<string> { "C#" })"/>

    </section>


</section>