section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.news-card {
    box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
}
