@page "/Products"
@using Courses.Demo.Shared.Contracts

@inject IProductApi ProductApi

@if (products != null)
{
    <h2>Products</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach (var product in products)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                           <p>@product.Description</p>
                           <p>@product.Price</p>
                        <p>
                            <a href="details">View</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductApi.List();
    }

}