@page "/courses"


<CourseAccessView CourseId="1">
    <HasAccess>
        <h2>You purchased this on @context.Purchased</h2> 
    </HasAccess>
    <NoAccess>
        <h3>Practical Blazor Components</h3>
        <p>Build better web applications, faster</p>
        <p>Learn how to build Blazor components that are easy to use, easy to maintain, and easy to extend.</p>
    </NoAccess>
</CourseAccessView>
