@using Courses.Demo.Shared.Contracts
<h3>Outstanding Materials</h3>

<p>Click a line to mark it as "received"</p>

@if (Lines != null)
{
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Rate</th>
            <th>Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var line in Lines)
        {
            <tr class="p-2">
                <td>@line.Description</td>
                <td>@line.Rate</td>
                <td>@line.Amount</td>
                <td>
                    <button @onclick="() => Receive(line)">
                        Receive
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public IEnumerable<PurchaseOrder.Line>? Lines { get; set; }

    [Parameter]
    public EventCallback<PurchaseOrder.Line> OnMaterialReceived { get; set; }
    
    private async Task Receive(PurchaseOrder.Line line)
    {
        await OnMaterialReceived.InvokeAsync(line);
    }

}