@page "/AdvancedPanels"

<div class="cols-4">
    <div class="row">
        <div class="col">
            <ComplexPanel Title="An Important Panel" Type="PanelType.Important">
                <p>This is some content</p>
            </ComplexPanel>
        </div>
        <div class="col">
            <ComplexPanel Title="A Panel" Type="PanelType.Default">
                <p>This is boring panel</p>
            </ComplexPanel>
        </div>
        <div class="col">
            <ComplexPanel Title="Another One?" Type="PanelType.Inactive">
                <p>I mean how many panels are enough?</p>
            </ComplexPanel>
        </div>
    </div>
</div>


@code {

}